:root {
    --primary-header-color: #212121;
    --second-header-color: #FFFFFF;
    --primary-text-color: #757575;
    --primary-list-color: #757575;
    --accent-color: #2196F3;
    --primary-logo-color: #000000;
    --second-logo-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
    --accent-bg-color: #2196F3;
    --btn-bg-color: #188CE8;
    --portfolio-bg-color: #F5F5F5;
    --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
    --footer-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --header-border-color: #ECECEC;
    --second-border-color:  #EEEEEE;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color)
}
.link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

/*-------Universal Classes------*/

.list {
    list-style: none;
    color: var(--main-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
}

/*-----------HEADER----------*/

.main-nav {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.header-logo {
    margin-right: 93px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-logo-color);
    text-decoration: none;
}
span.web {
    color: var(--accent-color)
}
.header-nav .item + .item {
    margin-left: 50px;
}
.header-nav {
    display: flex;
}
.header-nav .link {
      
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
    color: var(--primary-header-color);

    /*outline: 2px solid tomato;*/
}
.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--accent-color);
}
.header-nav .link.current {
    color: var(--accent-color)   
}

.header-list .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-list-color);
}
.header-list {
    display: flex;
    margin-left: auto;
}
.header-list .item + .item {
    margin-left: 50px;
}

.header-mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
}
.header-mail:hover,
.header-mail:focus{
    color: var(--accent-color);
}

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
 }
.header-tel:hover,
.header-tel:focus{
    color: var(--accent-color);
}
 /* Line */
.header {
    border-bottom: 1px solid var(--header-border-color);
}
/*-----------HERO----------*/

.hero {

    display: flex;
    align-items: center;
    flex-direction:column;
    padding-top: 200px;
    padding-bottom: 200px;

    background: var(--footer-bg-color);
    text-align: center;

}
.title {
    margin: 0 auto;
    padding: 0;
    width: 696px;
        
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-header-color);

    /*outline: 2px solid tomato;*/
}
.hero-btn {
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    margin-top: 30px;
        
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--second-header-color);
    background: var(--accent-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-align: center;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-bg-color);
}

/*-----------BENEFITS----------*/
.benefits {
    padding-top: 94px;
    padding-bottom: 94px;
}
.benefits-list {
    display: flex;
    margin: 0;
    padding: 0;

}
.sub-title {
    margin: 0;
    padding: 0;
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-header-color);
}
.benefits-li {
    margin: 0;
    margin-top: 10px;
    margin-right: 30px;
    padding: 0;
    
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.benefits-li:last-child{
    margin-right: 0px;
}

/*-----------WORK----------*/
.work {
    padding-top: 0px;
    padding-bottom: 94px;
}

.work-title{
    margin: 0;
    padding: 0;
   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--primary-header-color);
}
.work-list {
    display: flex;
    margin: 0;
    margin-top: 50px;
    padding: 0;
    }
.work-list :not(:first-child){
    margin-left: 30px;
}
.work-img {
    display: block;
}

/*-----------TEAM----------*/
.team {
    padding-top: 94px;
    padding-bottom: 94px;

    background: var(--team-bg-color);
}
.team-title{
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--primary-header-color);
    text-align: center;
}
.team-li {
    background: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-li:not(:last-child){
    margin-right: 30px;
}
.team-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}
.team-img {
    display: block;
 
}
.diskription-team {
    display: block;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    text-align: center;
}
.name-title{
    padding: 0;
    margin: 0;
           
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-header-color);
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text{
    padding: 0;
    margin: 0;
    margin-top: 10px;
    
    
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    text-align: center;
    letter-spacing: 0.03em;
}

/*-----------FOOTER----------*/
.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background: var(--footer-bg-color);
}
.footer-logo {
    margin-bottom: 28px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-logo-color);
    text-decoration: none;
}
span.web {
    color: var(--accent-color)
}
.footer-list {
    margin: 0;
    margin-top: 20px;
    padding: 0;

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-list .link:hover,
.footer-list .link:focus {
    color: var(--accent-color);
}
.footer-li:not(:last-child){
    margin-bottom: 12px;
}
.footer-adress {
    color: var(--second-header-color);
}
.footer-mail {
    color: var(--footer-mail-tel-color);
}
.footer-tel {
    color: var(--footer-mail-tel-color);
}

/*-----------PORTFOLIO----------*/
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-btn {
    display: inline-block;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
              
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;

    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-header-color);
    cursor: pointer;
    
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--second-header-color);
    background: var(--accent-bg-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    list-style: none; 
}
.portfolio-btn-list :not(:first-child){
    margin-left: 8px;
}
.discription-portfolio {
    display: block;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    margin: 0;

    border: 1px solid var(--second-border-color);
    
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 50px;
    padding: 0;
        
    list-style: none; 
}
.portfolio-flex {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    background: var(--second-header-color);
}
.portfolio-flex:nth-child(3n){
    margin-right: 0px;
}
.portfolio-flex:nth-last-child(-n + 3){
    margin-bottom: 0px;
}
.portfolio-img {
    margin: 0;
    padding: 0;
    display: block;
}
.portfolio-subtitle {
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-header-color);
}
.portfolio-text {
    margin: 0;
    padding: 0;
 
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}